<!doctype html>
<html lang="en" >
 <head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  	<title>{{gituser.name}}</title>
  	<meta name="author" content="BONN arborous@qq.com">
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="robots" content="index, follow">
  	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- new css -->
    	<link rel="stylesheet" href="static/src/css/bootstrap.css" type="text/css" />
        	<link media="screen,print" rel="stylesheet" type="text/css" href="static/src/css/main-blessed1.css"/>
  	<link media="screen,print" rel="stylesheet" type="text/css" href="static/src/css/main.css"/>


	<!-- One Page Module Specific Stylesheet -->
	<!-- / -->
	<link rel="stylesheet" href="static/src/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/ie.css" type="text/css" />
    	<script type="text/javascript" src="static/src/js/jquery.js"></script>
	<script type="text/javascript" src="static/src/js/plugins.js"></script>


 
 </head>
 <body>
 <div id="header" class="full-header transparent-header dark static-sticky">
			<div id="header-wrap">

				<div class="container clearfix">


					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="static/src/images/logo.png"><img src="static/src/images/logo.png" alt="Bonn Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<div id="primary-menu">
						<ul>
							<li><a class="font-cn" href="#wrapper">首页</a></li>
							<li><a class="font-cn" href="#section-pos">收银</a></li>
							<li><a class="font-cn" href="#section-sales">营销拓客</a></li>
                            <li><a class="font-cn" href="#section-booking">预约</a></li>
							<li><a class="font-cn" href="#section-manage">店铺管理</a></li>
							<li><a class="font-cn" href="#section-data">注册&下载</a></li>
						</ul>

                        <!--<div id="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>-->

					</div><!-- #primary-menu end -->

				</div>

			</div>

		</div>
     <div id="app-container">
    	<div class="" id="homepage-container">
            <!--<a class="btn btn-deepred" id="demo-btn" href="/site/register"  type="button">马上注册</a>-->
    		<div>
                
	    		<div class="homepage-hero text-center hidden-xs"  style="height:675px;background-image:url(static/src/images/bg4.png); background-repeat:no-repeat;background-size:cover;overflow:hidden;" >
		    		<div class="vertical-middle ignore-header dark">
                        	<img src="static/src/images/main_logo.png" class="slide-logo" alt="mainlogo">
						<div class="emphasis-title">
							<h1>
								<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="6000">
									<span class="t-rotate t700 font-cn opm-large-word"><span class="animated fadeIn">专业及一体化商户管理系统</span></span>
								</span>
							</h1>
						</div>
                        <div class="module-content bottommargin">We-ERP是一套针对服务行业的一体化综合系统,并将管理,营销与移动端有效融合。<br>人性化预约、会员管理、员工内部管理、以及便携的进销存，这一切将给您带去前所未有的贴心服务。</div>

                        <!--<a href="#" class="button button-border button-light button-circle" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">免费下载</a>-->
                        <a href="http://www.wevip.com/update/WePOS.1.245.zip"><img src="static/src/images/download.png" alt="mainlogo"></a>
                        <a href="/site/ieregister" class=""><img src="static/src/images/register.png" alt="mainlogo"></a>

					</div>
                
                </div>
                <!-- pos -->
                <div id="section-pos" class="center page-section">
                    <div class="container clearfix">
                        <div class="module-img">
                            <img src="static/src/images/module/pos.png">
                        </div>
                        <h1 class="font-title module-title">快捷收银·安全支付</h1>
                        <div class="module-content">集产品选择、扫码收银、小票打印、业绩分配四大功能，支持多种方式，<br>快速实现日常收银活动。自动关联后台系统，数据安全有保障。</div>
                        <div id="pos-imgs">
                            <img src="static/src/images/pos.png">
                           <!-- <div id="wrapper_bu">
                                <div id="bu1"><img src="static/src/images/3dimgs/1.png" /></div>
<div id="bu2"><img src="static/src/images/3dimgs/2.png" /></div>
<div id="bu3"><img src="static/src/images/3dimgs/3.png" /></div>
</div>-->
                        </div>
                        
                        

                    </div>
                </div>
                <!-- /pos-->
                <!-- sales-->
                <div id="section-sales" class="center page-section">
                    <div class="container clearfix">
                         <div class="module-img">
                            <img src="static/src/images/module/sales.png">
                        </div>
                        <h1 class="font-title module-title">轻松拓客·即刻分享</h1>
                        <div class="module-content">We-ERP和微卡APP无缝结合,打通门店和会员之间的沟通桥梁。<br>通过在线营销拓客平台轻松创建礼品卡券,即刻发布到微卡APP让更多人分享。</div>
                                        <!-- scene2-->
                <div id="scene2">
                    <img src="static/src/images/scene2.png">
                </div>
                <!--/scene2-->


                    </div>
                </div>
                <!--/sales-->

                 <!-- booking-->
                <div id="section-booking" class="center page-section">
                    <div class="container clearfix">
                         <div class="module-img">
                            <img src="static/src/images/module/booking.png" />
                        </div>
                        <h1 class="font-title module-title">人性预约·快捷统计</h1>
                        <div class="module-content">人性化的客户预约系统,有效管理统计您店铺的日常预约情况。</div>
                        <div class="booking-body"><img src="static/src/images/booking.png"/></div>


                    </div>
                </div>

                <!--/booking-->
                <!-- manage-->
                <div id="section-manage" class="center page-section">
                    <div class=" clearfix">
                         <div class="module-img">
                            <img src="static/src/images/module/manage.png" />
                        </div>
                        <h1 class="font-title module-title">店铺管理·省时省力</h1>
                        <div class="module-content">聚集会员管理、财务、人力资源、统计报表、仓储采购于一身的管理系统,<br/>帮助您轻松的完成店铺经营和日常管理事务。</div>
                        <div id="manage-body" class="row">
                            <div class="col-md-5">
  <!-- Nav tabs -->
  <ul class="nav" role="tablist">
      <li role="presentation" class="active"><a href="#tab-1" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">01</div> <div class="manage-list-content"><h3>会员管理</h3>跨平台、跨门店的会员信息及会员卡方案一体化管理</div></a></li>
    <li role="presentation"><a href="#tab-2" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">02</div> <div class="manage-list-content"><h3>人力资源</h3>跨平台、跨门店的员工信息及业绩方案管理,精准员工业绩统计</div></a></li>
    <li role="presentation"><a href="#tab-3" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">03</div> <div class="manage-list-content"><h3>库存管理</h3>清晰的库存管理，有效地成本控制</div></a></li>
    <li role="presentation"><a href="#tab-4" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">04</div> <div class="manage-list-content"><h3>报表统计</h3>借助平台优势，全方位多角度的数据分析，挖掘高质量新客户。</div></a></li>
  </ul>
  </div>
  <div class="col-md-7">

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-1"><img src="static/src/images/tab/1.jpg" /></div>
    <div role="tabpanel" class="tab-pane" id="tab-2"><img src="static/src/images/tab/2.jpg" /></div>
    <div role="tabpanel" class="tab-pane" id="tab-3"><img src="static/src/images/tab/3.jpg" /></div>
    <div role="tabpanel" class="tab-pane" id="tab-4"><img src="static/src/images/tab/4.jpg" /></div>
  </div>
  </div>

</div>


                    </div>
                </div>

                <!--/manage-->
                 <!-- members-->
                <div id="section-data" class="center page-section nopadding nomargin">
                    <div class="container clearfix">
                        <div class="row divcenter data-body">
                            <div class="col-md-4">
                                <img src="static/src/images/store_icon.png" />
                                <div id="store-num" class="counter data-num"><span data-from="1000" data-to="1374" data-refresh-interval="50" data-speed="2500">1374</span></div>
                                商户
                            </div>
                             <div class="col-md-4">
                                 <img src="static/src/images/users_icon.png" />
                                <div id="users-num" class="data-num counter"><span data-from="3000" data-to="59028" data-refresh-interval="200" data-speed="2500">59028</span></div>
                                会员数

                            </div>
                             <div class="col-md-4">
                                 <img src="static/src/images/sales_icon.png" />
                                <div id="sales-num" class="data-num counter"><span data-from="1000" data-to="7223" data-refresh-interval="100" data-speed="2500">7223</span></div>
                                拓客数

                            </div>

                                          
                        </div>


                    </div>
                </div>

                <!--/members-->


                 <!-- download-->
                <div id="section-download" class="center page-section nopadding nomargin">
                    <div class="container clearfix">
                        <div class="top-corner"></div>
                        <div class="row divcenter download-body">
                            <div class="col-md-6 font-cn">
                                　您还在等什么?
                            </div>
                            <div class="col-md-6">
                                 <a href="http://www.wevip.com/update/WePOS.1.245.zip"><img src="static/src/images/download.png" alt="mainlogo" /></a>
                                 <a href="/site/ieregister" class="nh-signup-1"><img src="static/src/images/register.png" alt="mainlogo" /></a>


                            </div>
                        </div>


                    </div>
                </div>

                <!--/download-->



                <!--end-->
	    			    		    	</div>
    	</div>
    </div>


    <div id="footer" class="dark noborder">

			<div id="copyrights">
				<div class="container center clearfix">
                    <div class="footer-logo"><img src="static/src/images/footer_logo.jpg"></div>
                    上海波恩网络科技服务有限公司 版权所有.<br>客服电话:400-633-0515
					
                </div>
			</div>

		</div>
 </body>
</html>
