<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{gituser.name}}</title>
    <!--[if lte IE 8]> 
   <script type="text/javascript">
location.href="/site/default"
   </script>
<![endif]-->

  	<meta name="author" content="BONN">
        <meta property="og:image" content="static/src/images/main_logo.png">
<link rel="shortcut icon" href="static/src/images/favicon.png" />
    
	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="static/src/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/style.css" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="static/src/css/onepage.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="static/src/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="static/src/css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="static/src/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/components-md.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!--[if lt IE 9]>
		<script src="static/src/js/css3-mediaqueries.js"></script>
		<script src="static/src/js/iehtml5.js"></script>
        <style>rticle,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}</style>
	<![endif]-->
    
	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="static/src/js/jquery.js"></script>
	<script type="text/javascript" src="static/src/js/plugins.js"></script>
	<script type="text/javascript" src="static/src/js/3dimages.js"></script>

	<!-- Document Title
	============================================= -->

</head>

<body class="stretched side-push-panel">

	<div class="body-overlay"></div>

	<div id="side-panel" class="dark">

		<div id="side-panel-trigger-close"><a href="#"><i class="icon-line-cross"></i></a></div>

		<div class="side-panel-wrap">

			<div class="widget widget_links clearfix">

				<h4>联系我们</h4>

				<div style="font-size: 14px; line-height: 1.7;">
					<address style="line-height: 1.7;">
						上海市长宁区虹桥路1985号<br>
					</address>

					<div class="clear topmargin-sm"></div>

					<abbr title="Phone Number">热线电话:</abbr> 4006-330-515<br>
				</div>

			</div>


		</div>

	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="static/src/images/logo.png"><img src="static/src/images/logo21.png" alt="Bonn Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="static/src/images/logo@2x.png"><img src="static/src/images/logo21@2x.png" alt="Bonn Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
							<li><a href="#" class="font-cn" data-href="#wrapper"><div>首页</div></a></li>
							<li><a href="#" class="font-cn" data-href="#section-pos"><div>收银</div></a></li>
							<li><a href="#" class="font-cn" data-href="#section-sales"><div>营销拓客</div></a></li>
                            <li><a href="#" class="font-cn" data-href="#section-booking"><div>预约</div></a></li>
							<li><a href="#" class="font-cn" data-href="#section-manage"><div>店铺管理</div></a></li>
							<li><a href="#" class="font-cn" data-href="#section-data"><div>注册&下载</div></a></li>
						</ul>

                        <!--<div id="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>-->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-parallax full-screen force-full-screen">

			<div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('static/src/images/page/main.jpg'); background-size: cover; background-position: center center;">


				<div class="container center">
					<div class="vertical-middle ignore-header">
                        	<img src="static/src/images/main_logo.png" class="slide-logo" alt="mainlogo">
						<div class="emphasis-title">
							<h1>
								<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="6000">
									<span class="t-rotate t700 font-cn opm-large-word">专业及一体化商户管理系统|简单|强大|实用|未来</span>
								</span>
							</h1>
						</div>
                        <div class="module-content bottommargin">We-ERP是一套针对服务行业的一体化综合系统,并将管理,营销与移动端有效融合。</br>人性化预约、会员管理、员工内部管理、以及便携的进销存，这一切将给您带去前所未有的贴心服务。</div>

                        <!--<a href="#" class="button button-border button-light button-circle" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">免费下载</a>-->
                        <a href="http://www.wevip.com/update/WePOS.1.245.zip"><img src="static/src/images/download.png" alt="mainlogo" /></a>
                        <a href="/site/register" class=""><img src="static/src/images/register.png" alt="mainlogo" /></a>

					</div>
				</div>

				<div class="video-wrap">
					<div class="video-overlay" style="background-color: rgba(0,0,0,0);"></div>
				</div>

				<a href="#" data-scrollto="#section-pos" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>

		</section><!-- #slider end -->
        <!-- POS -->
        <section id="content">
            <div class="content-wrap nopadding">
                <!-- pos -->
                <div id="section-pos" class="center page-section">
                    <div class="container clearfix">
                        <div class="module-img">
                            <img src="static/src/images/module/pos.png" />
                        </div>
                        <h1 class="font-title module-title">快捷收银·安全支付</h1>
                        <div class="module-content">集产品选择、扫码收银、小票打印、业绩分配四大功能，支持多种方式，</br>快速实现日常收银活动。自动关联后台系统，数据安全有保障。</div>
                        <div id="pos-imgs">
                            <img src="static/src/images/pos.png" />
                           <!-- <div id="wrapper_bu">
                                <div id="bu1"><img src="static/src/images/3dimgs/1.png" /></div>
<div id="bu2"><img src="static/src/images/3dimgs/2.png" /></div>
<div id="bu3"><img src="static/src/images/3dimgs/3.png" /></div>
</div>-->
                        </div>
                        
                        

                    </div>
                </div>
                <!-- /pos-->
                <!-- sales-->
                <div id="section-sales" class="center page-section">
                    <div class="container clearfix">
                         <div class="module-img">
                            <img src="static/src/images/module/sales.png" />
                        </div>
                        <h1 class="font-title module-title">轻松拓客·即刻分享</h1>
                        <div class="module-content">We-ERP和微卡APP无缝结合,打通门店和会员之间的沟通桥梁。</br>通过在线营销拓客平台轻松创建礼品卡券,即刻发布到微卡APP让更多人分享。</div>
                        <!-- scene1 -->
                        <div id="scene1">
                        <div id="sales-mac">
                             <div id="mac-img-back">
                             </div>
                            <div id="mac-img">
                            </div>
                            <div id="mac-light">
                            </div>
                         </div>
                         <div id="sales-light">
                         </div>
                         <div id="sales-ripple">
                             <div id="p-red">
                                 <div id="red-c" class="ripple-people-after">
                                 </div>
                                 <div id="red-p" class="ripple-people">
                                 </div>
                              </div>
                             <div id="p-yellow">
                                 <div id="yellow-c" class="ripple-people-after">
                                 </div>
                                 <div id="yellow-p" class="ripple-people">
                                 </div>
                              </div>
                               <div id="p-blue">
                                 <div id="blue-c" class="ripple-people-after">
                                 </div>
                                 <div id="blue-p" class="ripple-people">
                                 </div>
                              </div>
                               <div id="p-green">
                                 <div id="green-c" class="ripple-people-after">
                                 </div>
                                 <div id="green-p" class="ripple-people">
                                 </div>
                              </div>
                               <div id="p-purple">
                                 <div id="purple-c" class="ripple-people-after">
                                 </div>
                                 <div id="purple-p" class="ripple-people">
                                 </div>
                              </div>
                            <!--points-->
                            <div class="ripple-point" id="ripple-point1">
                            </div>
                            <div class="ripple-point" id="ripple-point2">
                            </div>
                            <div class="ripple-point" id="ripple-point3">
                            </div>
                            <div class="ripple-point" id="ripple-point4">
                            </div>
                            <div class="ripple-point" id="ripple-point5">
                            </div>
                            <div class="ripple-point" id="ripple-point6">
                            </div>
                            <div class="ripple-point" id="ripple-point7">
                            </div>


                         </div>
                      <div id="sales-phone">
                         <div id="phone-light">
                         </div>
                         <div id="phone-main">
                         <div id="phone-img-back">
                             <div id="phone-envelope">
                                 <div id="envelop-back">
                                 </div>
                                 <div id="envelop-card">
                                 </div>
                                 <div id="envelop-body">
                                 </div>
                                 <div id="envelop-tongue">
                                 </div>
                                 
                             </div>
                         </div>
                         <div id="phone-img">
                          </div>
                        </div>
                      </div>
                </div>
                <!-- /scene1-->
                <!-- scene2-->
                <div id="scene2">
                    <img src="static/src/images/scene2.png"/>
                </div>
                <!--/scene2-->


                    </div>
                </div>

                <!--/sales-->
               <!-- booking-->
                <div id="section-booking" class="center page-section">
                    <div class="container clearfix">
                         <div class="module-img">
                            <img src="static/src/images/module/booking.png" />
                        </div>
                        <h1 class="font-title module-title">人性预约·快捷统计</h1>
                        <div class="module-content">人性化的客户预约系统,有效管理统计您店铺的日常预约情况。</div>
                        <div class="booking-body"><img src="static/src/images/booking.png"/></div>


                    </div>
                </div>

                <!--/booking-->
                <!-- manage-->
                <div id="section-manage" class="center page-section">
                    <div class=" clearfix">
                         <div class="module-img">
                            <img src="static/src/images/module/manage.png" />
                        </div>
                        <h1 class="font-title module-title">店铺管理·省时省力</h1>
                        <div class="module-content">聚集会员管理、财务、人力资源、统计报表、仓储采购于一身的管理系统,<br/>帮助您轻松的完成店铺经营和日常管理事务。</div>
                        <div id="manage-body" class="row">
                            <div class="col-md-5">
  <!-- Nav tabs -->
  <ul class="nav" role="tablist">
      <li role="presentation" class="active"><a href="#tab-1" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">01</div> <div class="manage-list-content"><h3>会员管理</h3>跨平台、跨门店的会员信息及会员卡方案一体化管理</div></a></li>
    <li role="presentation"><a href="#tab-2" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">02</div> <div class="manage-list-content"><h3>人力资源</h3>跨平台、跨门店的员工信息及业绩方案管理,精准员工业绩统计</div></a></li>
    <li role="presentation"><a href="#tab-3" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">03</div> <div class="manage-list-content"><h3>库存管理</h3>清晰的库存管理，有效地成本控制</div></a></li>
    <li role="presentation"><a href="#tab-4" class="clearfix" aria-controls="home" role="tab" data-toggle="tab"><div class="manage-list-count">04</div> <div class="manage-list-content"><h3>报表统计</h3>借助平台优势，全方位多角度的数据分析，挖掘高质量新客户。</div></a></li>
  </ul>
  </div>
  <div class="col-md-7">

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-1"><img src="static/src/images/tab/1.jpg" /></div>
    <div role="tabpanel" class="tab-pane" id="tab-2"><img src="static/src/images/tab/2.jpg" /></div>
    <div role="tabpanel" class="tab-pane" id="tab-3"><img src="static/src/images/tab/3.jpg" /></div>
    <div role="tabpanel" class="tab-pane" id="tab-4"><img src="static/src/images/tab/4.jpg" /></div>
  </div>
  </div>

</div>


                    </div>
                </div>

                <!--/manage-->
                 <!-- members-->
                <div id="section-data" class="center page-section nopadding nomargin">
                    <div class="container clearfix">
                        <div class="row divcenter data-body">
                            <div class="col-md-4">
                                <img src="static/src/images/store_icon.png" />
                                <div id="store-num" class="counter data-num"><span data-from="1000" data-to="1374" data-refresh-interval="50" data-speed="2500">1374</span></div>
                                商户
                            </div>
                             <div class="col-md-4">
                                 <img src="static/src/images/users_icon.png" />
                                <div id="users-num" class="data-num counter"><span data-from="3000" data-to="59028" data-refresh-interval="200" data-speed="2500">59028</span></div>
                                会员数

                            </div>
                             <div class="col-md-4">
                                 <img src="static/src/images/sales_icon.png" />
                                <div id="sales-num" class="data-num counter"><span data-from="1000" data-to="7223" data-refresh-interval="100" data-speed="2500">7223</span></div>
                                拓客数

                            </div>

                                          
                        </div>


                    </div>
                </div>

                <!--/members-->


                 <!-- download-->
                <div id="section-download" class="center page-section nopadding nomargin">
                    <div class="container clearfix">
                        <div class="top-corner"></div>
                        <div class="row divcenter download-body">
                            <div class="col-md-6 font-cn">
                                　您还在等什么?
                            </div>
                            <div class="col-md-6">
                                 <a href="http://www.wevip.com/update/WePOS.1.245.zip"><img src="static/src/images/download.png" alt="mainlogo" /></a>
                                 <a href="/site/register" class="nh-signup-1"><img src="static/src/images/register.png" alt="mainlogo" /></a>


                            </div>
                        </div>


                    </div>
                </div>

                <!--/download-->




            </div>
        </section>
        <!-- /POS -->


		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder">

			<div id="copyrights">
				<div class="container center clearfix">
                    <div class="footer-logo"><img src="static/src/images/footer_logo.jpg" /></div>
                    上海波恩网络科技服务有限公司 版权所有.</br>客服电话:400-633-0515
					
                </div>
			</div>

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>
    <!-- modal-->
    <div class="modal fade" id="modal-signup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">注册您的账号</h4>
      </div>
      <div class="modal-body">
          <form action="/site/signup" id="signup" name="signup" method="POST">
              <div id="first-div" style="display:none">
            <div class="form-group form-md-line-input">
										<input type="text" class="form-control" name="phone" id="phone" placeholder="输入手机号码">
                                        <label for="phone">手机(登录账号)</label>
										<span class="help-block">输入您的手机号码</span>
									</div>
            <div class="form-group form-md-line-input has-error">
										<div class="input-group">
											<div class="input-group-control">
												<input type="text" class="form-control" name="code" id="code" placeholder="">
												<label for="form_control_1">验证码</label>
											</div>
										<span class="input-group-btn btn-right">
                                            	<input name="btn-code" class="btn green-haze" id="btn-code" type="button" value="免费获取验证码" >

											</span>
                                        </div>
									</div>
            <div class="form-group form-md-line-input has-info">
										<input type="password" class="form-control" id="password" name="password" placeholder="密码">
										<label for="password">密码</label>
									</div>
            <div class="form-group form-md-line-input has-info">
										<input type="password" class="form-control" name="confirm" id="confirm" placeholder="确认密码">
										<label for="confirm">确认密码</label>
									</div>
            </div>
            <div id="second-div" style="display:block">
                <div class="form-group form-md-line-input form-md-floating-label has-info">
											<select class="form-control" style="height:35px;" 
														id="industry" name="industry">
                                                        <option value=""></option>
														{% for industry in industrys %}
														<option value="{{ industry.id }}" >{{ industry.name }}</option>
														{% endfor %}
													</select>
										<label for="form_control_1">商户类型</label>
									</div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                	<select class="form-control" style="height:35px;" 
															id="industry_category" name="industry_category">
															<option value=""></option>
															{% for industry_category in industry_categorys %}
															<option value="{{ industry_category.id }}" >{{ industry_category.name }}</option>
															{% endfor %}
														</select>
                                    <label for="industry_category">业务类型</label>
                        </div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            	<input id="company_name" name="company_name" class="form-control" value="" />
										<label for="company_name">公司名称</label>
									</div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            	<input id="brand" name="brand" class="form-control" />
										<label for="brand">品牌名称</label>
									</div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                            	<input id="contact_name" name="contact_name" class="form-control" />
										<label for="contact_name">联系人</label>
									</div>
                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                            <input id="email" name="email" class="form-control" />
                                            <label for="email">邮件地址</label>
									</div>
                        <div class="row">
                            <div class="col-md-4">
                         <div class="form-group form-md-line-input form-md-floating-label has-info">
                                	<select class="form-control" id="state_id" name="state_id">
                                                            <option value=""></option>
															{% for state in states %}
															<option value="{{ state.id }}" >{{ state.name }}</option>
															{% endfor %}
														</select>

                                    <label for="state_id">省</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group form-md-line-input form-md-floating-label has-info">
                                		<select class="form-control" id="area_id" name="area_id">
                                            <option value=""></option>
															{% for country_state_area in country_state_areas %}
															<option value="{{ country_state_area.id }}" >{{ country_state_area.name }}</option>
															{% endfor %}
														</select>
                                    <label for="area_id">市</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group form-md-line-input form-md-floating-label has-info">
                                <select class="form-control" id="subdivide_id" name="subdivide_id">
                                    <option value=""></option>
															{% for state_area_subdivide in state_area_subdivides %}
															<option value="{{ state_area_subdivide.id }}" >{{ state_area_subdivide.name }}</option>
															{% endfor %}
														</select>
                                    <label for="subdivide_id">县/区</label>
                        </div>
                    </div>
                   
                </div>
                <div class="form-group form-md-line-input has-info">
										<input type="text" class="form-control" name="street" id="street" placeholder="确认密码">
										<label for="confirm">确认密码</label>
				</div>







            </div>

          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="btn-next">下一步</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="static/src/js/functions.js"></script>
    <script type="text/javascript">
	    					$('#btn-next').attr("disabled","disabled");
	    					
		    				function validate_data(){
		    					var form = document.signup;
		    					message="";
					        	if(form.phone.value == ""){
									message="请输入手机号码";
									form.phone.focus();
					        	}else if(form.code.value == ""){
									message="请输入验证码";
									form.code.focus();
						        }else if(form.password.value == ""){
						        	message="请输入密码";
						        	form.password.focus();
						        }else if(form.password.value.length<6){
						        	message="密码至少6位";
						        	form.password.focus();
							    }else if(form.password.value != form.confirm.value){
							    	message="两次输入的密码不一致";
							    	form.confirm.focus();
							    }
							    if(message!=""){
							    	$('#message').show();
						        	$('#message_desc').text(message);
						        	return false;
								}else{
									return true;
								}
		    				}

		    				function validate_company_data(){
		    					var form = document.signup;
		    					message="";
					        	if(form.industry.value == ""){
									message="请选择商户类型";
									form.industry.focus();
						        }else if(form.industry_category.value == ""){
						        	message="请选择业务类型";
						        	form.industry_category.focus();
						        }else if(form.industry_category.value == ""){
						        	message="请选择业务类型";
						        	form.industry_category.focus();
						        }else if(form.brand.value == ""){
						        	message="请输入品牌名称";
						        	form.company_name.focus();
						        }else if(form.contact_name.value == ""){
						        	message="请输入联系人";
						        	form.contact_name.focus();
							    }else if(form.email.value == ""){
						        	message="请输入邮箱地址";
						        	form.email.focus();
							    }else if(!validate_email(form.email.value)){
					        		message="请输入正确的邮箱地址";
					        		form.email.focus();
							    }else if(form.state_id.value == ""){
						        	message="请选择省";
						        	form.state_id.focus();
							    }else if(form.street.value == ""){
						        	message="请输入详细地址";
						        	form.street.focus();
							    }
							    if(message!=""){
							    	$('#message').show();
						        	$('#message_desc').text(message);
						        	return false;
								}else{
									return true;
								}
		    				}

		    				var wait=60;
		    				function time() {
		    					 if (wait == 0) {
	    				            $('#btn-code').removeAttr("disabled");        
	    				            $('#btn-code').val("免费获取验证码");
	    				            wait = 60;
	    				        } else { 
	    				        	$('#btn-code').attr("disabled","disabled");
	    				            value="重新发送(" + wait + ")";
	    				            $('#btn-code').val(value);
	    				            wait--;
	    				            setTimeout(function() {
	    				                time()
	    				            },
	    				            1000)
	    				        }
				    		}
	    					$('#btn-code').click(function() {
	    						var form = document.signup;
	    						if(form.phone.value == ""){
									message="请输入手机号码";
									form.phone.focus();
									return true;
	    						}
	    						$('#btn-code').attr("disabled","disabled");
	    						var city_obj = $.ajax({
						        	method: 'GET',
						        	url: "/site/json/get_code",
						        	data: "phone="+$('#phone').val(),
						        	success: function(msg){
	    								var obj = eval('(' + msg + ')');
	    								if(obj.result==true){
	    									time();
	    									$('#btn-next').removeAttr("disabled");
		    							}else{
		    								$('#btn-code').removeAttr("disabled");
			    						}
	    								$('#message').show();
							        	$('#message_desc').text(obj.message);
						        	}
						        });
	        				});
	    				
	    					$('#btn-next').click(function() {
	    						$('#message').hide();
					        	$('#message_desc').text("");

					        	if(validate_data()){
		    						var city_obj = $.ajax({
							        	method: 'GET',
							        	url: "/site/json/validate_email",
							        	data: "code="+$('#code').val()+"&phone="+$('#phone').val(),
							        	success: function(msg){
		    								var obj = eval('(' + msg + ')');
							        		if(obj.result==true){
							        			$('#first-div').fadeOut();
		    									$('#second-div').slideDown('slow');
									        }else{
									        	$('#message').show();
									        	$('#message_desc').text(obj.message);
									        	document.signup.email.focus();
										    }
							        		return true;
							        	}
							        });
	    						}
	        				});
	        				
	    					$('#btn-save').click(function() {
	    						$('#btn-save').attr("disabled","disabled");
	    						$('#message').hide();
					        	$('#message_desc').text("");
					        	if(validate_company_data()){
		    						var city_obj = $.ajax({
							        	method: 'GET',
							        	url: "/site/json/validate_company_name",
							        	data: "name="+$('#company_name').val(),
							        	success: function(msg){
		    								var obj = eval('(' + msg + ')');
							        		if(obj.result==false){
							        			$('#signup').submit();
									        }else{
									        	$('#message').show();
									        	$('#message_desc').text("公司名称已被使用!");
									        	document.signup.company_name.focus();
									        	$('#btn-save').removeAttr("disabled");
										    }
							        		return true;
							        	}
							        });
					        	}else{
					        		$('#btn-save').removeAttr("disabled");
						        }
	        				});
	    				</script>


</body>
</html>

